@using Microsoft.AspNetCore.Mvc;
@using ShoeStore.Models;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="~/icon.png">
    <title>ShoeDan</title>


    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../LayoutOgani/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../LayoutOgani/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../LayoutOgani/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../LayoutOgani/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../LayoutOgani/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../LayoutOgani/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../LayoutOgani/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../LayoutOgani/css/style.css?v=@DateTime.Now.Ticks" type="text/css">
</head>

<body style="font-family: Roboto">
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="@Url.Action("Index", "Home" )"><img src="../layoutOgani/img/ShoeDan.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price">item: <span>$150.00</span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="../layoutOgani/img/VietNam.png"alt="">
                <div>VietNam</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">VietNam</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div>
            <div class="header__top__right__auth" style="list-style-type:none">
                @* <a href="#"><i class="fa fa-user"></i> Login</a> *@
                @* <a asp-controller="Access" asp-action="Logout"><i class="fa fa-user"></i> LogOut</a> *@
                <li>
                    @if(HttpContextAccessor.HttpContext.Session.GetString("UserName") != null)
                    {
                        <a href="@Url.Action("Logout", "Access")">Logout (@HttpContextAccessor.HttpContext.Session.GetString("UserName"))</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Login", "Access")">Login</a>    
                    }
                </li>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="@Url.Action("Index", "Shop")">Shop</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="https://www.facebook.com/Dinh.Dang0"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/danggdinh/"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> nguyentam050404@gmail.com</li>
                <li>Miễn phí ship với đơn hàng trên 1.000.000đ</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> nguyentam050404@gmail.com</li>
                                <li>Miễn phí ship với đơn hàng trên 1.000.000đ</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="https://www.facebook.com/Dinh.Dang0"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.instagram.com/danggdinh/"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-youtube"></i></i></a>
                            </div>
                            <div class="header__top__right__language">
                                <img src="../layoutOgani/img/VietNam.png" alt="">
                                <div>VietNam</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="#">VietNam</a></li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </div>
                            <div class="header__top__right__auth" style="list-style-type:none">
                                @* <a href="#"><i class="fa fa-user"></i> Login</a> *@
                                <li>
                                    @if (HttpContextAccessor.HttpContext.Session.GetString("UserName") != null)
                                    {
                                        <a href="@Url.Action("Logout", "Access")">Logout (@HttpContextAccessor.HttpContext.Session.GetString("UserName"))</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Login", "Access")">Login</a>
                                    }
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="@Url.Action("Index", "Home")"><img src="../layoutOgani/img/ShoeDan.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li><a href="@Url.Action("Index", "Shop")">Shop</a></li>
                            <li><a href="./contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                        </ul>
                        <div class="header__cart__price">item: <span>$150.00</span></div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                @await Component.InvokeAsync("CategoryMenu")
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <input type="text" placeholder="Bạn cần gì?">
                                <button type="submit" class="site-btn">Tìm kiếm</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+84 963 296 424</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                    <div class="hero__item set-bg" data-setbg="../layoutOgani/img/bannerShoe.png">
                        <div class="hero__text">
                            <span>SHOE DAN</span>
                            <h2>Jordan <br />100% REAL</h2>
                            <p>Free Pickup and Delivery Available</p>
                            <a href="@Url.Action("Index", "Shop")" class="primary-btn">SHOP NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="../layoutOgani/img/categories/Air-Jordan-4-University-Blue.jpg">
                            <h5><a href="#">Jordan 4</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="../layoutOgani/img/categories/Air-Jordan-3-Retro-Racer-Blue.jpg">
                            <h5><a href="#">Jordan 3</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="../layoutOgani/img/categories/Nike-Air-Jordan-2-Retro-J-Balvin.jpg">
                            <h5><a href="#">Jordan 2</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="../layoutOgani/img/categories/Air-Jordan-1-x-Travis-Scott-x-Fragment-Retro-High-OG-Military-Blue.jpg">
                            <h5><a href="#">Jordan 1</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="../layoutOgani/img/categories/Air-Jordan-5-Retro-Low-Knicks.jpg">
                            <h5><a href="#">Jordan 5</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="../layoutOgani/img/categories/Air-Jordan-6-Retro-Yellow-Ochre.jpg">
                            <h5><a href="#">Jordan 6</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="../layoutOgani/img/categories/air-jordan-7-retro-pantone.png">
                            <h5><a href="#">Jordan 7</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="../layoutOgani/img/categories/Air-Jordan-11-Retro-Gamma-Blue.jpg">
                            <h5><a href="#">Jordan 11</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="../layoutOgani/img/categories/Air-Jordan-34-Guo-Ailun-GS.jpg">
                            <h5><a href="#">Jordan 34</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="../layoutOgani/img/categories/Air-Jordan-35-Chinese-New-Year.jpg">
                            <h5><a href="#">Jordan 35</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="../layoutOgani/img/categories/nike-air-jordan-legacy-312-low-white-university-red-game-royal.jpg">
                            <h5><a href="#">Jordan 312</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->
    <!-- Featured Section Begin -->
    <section class="featured spad" style="font-family: Roboto">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="font-family: Roboto">
                    <div class="section-title">
                        <h2 style="font-family: Roboto">SẢN PHẨM NỔI BẬT</h2>
                    </div>
                </div>
            </div>
            <div id="displayProductsByCategory" class="row featured__filter">
                @RenderBody()
            </div>
        </div>
    </section>
    <!-- Featured Section End -->
    <!-- Banner Begin -->
    <!-- Banner End -->
    <!-- Blog Section Begin -->
    <section class="from-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title from-blog__title">
                        <h2>Blog</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="../layoutOgani/img/blog/Giay-Nike-Air-Zoom-GT-Hustle-2-Victor-Wembanyama-768x432.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> April 5,2024</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">5 câu chuyện giày sneaker gây sốt nhất mùa giải NBA 2024-2025</a></h5>
                            <p>5 câu chuyện giày sneaker gây sốt nhất mùa giải NBA 2024-2025 nói về ... </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="../layoutOgani/img/blog/5-su-kien-sneaker-dang-chu-y-nhat-nam-2024.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> April 5,2024</li>
                                <li><i class="fa fa-comment-o"></i> 8</li>
                            </ul>
                            <h5><a href="#">5 sự kiện sneaker đáng chú ý nhất năm 2024</a></h5>
                            <p>5 sự kiện sneaker đáng chú ý nhất năm 2024 nói về ... </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="../layoutOgani/img/blog/Du-doan-phong-cach-sneaker-se-tro-thanh-trend-nam-2025.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> April 5,2024</li>
                                <li><i class="fa fa-comment-o"></i> 6</li>
                            </ul>
                            <h5><a href="#">Dự đoán phong cách sneaker sẽ trở thành trend năm 2025</a></h5>
                            <p>Dự đoán phong cách sneaker sẽ trở thành trend năm 2025 ...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="@Url.Action("Index", "Home")"><img src="../layoutOgani/img/ShoeDan.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Địa chỉ: Bửu Long, Biên Hòa, Đồng Nai</li>
                            <li>SĐT: +84 963 296 424</li>
                            <li>Email: nguyentam050404@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Về Shoe Dan</h6>
                        <ul>
                            <li><a href="#">Về Chúng Tôi</a></li>
                            <li><a href="#">Cửa Hàng Của Chúng Tôi</a></li>
                            <li><a href="#">Mua Sắm An Toàn</a></li>
                            <li><a href="#">Thông Tin Giao Hàng</a></li>
                            <li><a href="#">Chính Sách Riêng Tư</a></li>
                            <li><a href="#">Sơ đồ Web</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Chúng Tôi Là Ai</a></li>
                            <li><a href="#">Dịch Vụ Của Chúng Tôi</a></li>
                            <li><a href="#">Kế Hoạch</a></li>
                            <li><a href="#">Liên Hệ</a></li>
                            <li><a href="#">Đổi Mới</a></li>
                            <li><a href="#">Giấy Chứng Nhận</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Tham Gia Bản Tin Của Chúng Tôi</h6>
                        <p>Nhận Thông Tin Cập Nhật Của Cửa Hàng Mới Nhất Của Chúng Tôi Và Các Ưu Đãi Đặc Biệt Qua Email.</p>
                        <form action="#">
                            <input type="text" placeholder="Nhập Email Của Bạn">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="https://www.facebook.com/Dinh.Dang0"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/danggdinh/"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                        <div class="footer__copyright__payment"><img src="../layoutOgani/img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="../layoutOgani/js/jquery-3.3.1.min.js"></script>
    <script src="../layoutOgani/js/bootstrap.min.js"></script>
    <script src="../layoutOgani/js/jquery.nice-select.min.js"></script>
    <script src="../layoutOgani/js/jquery-ui.min.js"></script>
    <script src="../layoutOgani/js/jquery.slicknav.js"></script>
    <script src="../layoutOgani/js/mixitup.min.js"></script>
    <script src="../layoutOgani/js/owl.carousel.min.js"></script>
    <script src="../layoutOgani/js/main.js"></script>



</body>

</html>